body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: American Typewriter, serif;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
header {
  background-color: rgba(20, 114, 158, 0.657);
  height: 180px;
  padding: 20px, 20px, 20px, 20px;
  font-family: Didot, serif;
  font-size: 34px;
 
}
header>h1{
  position: relative;
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 15px;
  top: 18px;
  left: 10px;
}

.header>img {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}
.App{
  font-family: American Typewriter, serif;
}
 
img {
  max-width: 100%;
  max-height: 100%;
}
 
body {
  text-align: center;
  font-family: Didot, serif;
  margin: 0px;
  padding: 0px;
  background-image: url("https://cdn.pixabay.com/photo/2018/02/17/14/15/pattern-3160023_1280.jpg");
  color: black;
}

 
button {
  background-color: black;
  color: white;
  padding:5px;
  border-radius: 10%;
  border-width: 2px;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 5px;
  font-variant: small-caps;
}
 
button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
 
.galleryDiv{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
  
}
 
.artCard{
  color:black;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/19/07/05/background-3616101_1280.jpg");
  width:400px;
  padding: 10px 10px 10px 10px;
  margin: auto;
  font-size: 20px;
  font-family: Didot, serif;
  
 
}

.details{
  font-family: Snell Roundhand, cursive;
}

